{% extends "base.html" %} {% block content %}

<!--TODO: Display the user's name in the h1 title-->
<div class="container">
  {% if current_user.is_authenticated %}
  <h1 class="title">Welcome, {{ name }} !</h1>
  <!--TODO: Make a GET request to the /download path-->
    <form method="post" action="{{ url_for('download') }}" class="inline">
      <button type="submit" name="filename" value="cheat_sheet.pdf" class="link-button">Download Your File</button>
      <p></p>
      <button type="submit" name="filename" value="my_secrets.txt" class="link-button">Download Your Secrets</button>
      <p></p>
    </form>
<!--  <a href="{{ url_for('download') }}">Download Your File</a>-->
</div>
  {% endif %}
{% endblock %}
